.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #dcdcdc;
    
    a {
        color: #000000;
        display: inline-flex;
        align-items: center;
        font-weight: bold;
    }
    
    .icon {
        height: 1em;
        width: 1em;
        margin: 1rem;
    }
}
